<div class="navigationblock">
    <h5>General</h5>
    <hr>
    <ul class="fa-ul">
        <li><i class="fa fa-caret-right"></i><a href="#">KET</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">PET</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">First Certificate</a></li>
    </ul>
</div>  

<div class="navigationblock">
    <h5>Accademic & Professional</h5>
    <hr>
    <ul class="fa-ul">
        <li><i class="fa fa-caret-right"></i><a href="#">Advanced (CAE)</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">Proficiency (CPE)</a></li>
    </ul>
</div>  

<div class="navigationblock">
    <h5>For School</h5>
    <hr>
    <ul class="fa-ul">
        <li><i class="fa fa-caret-right"></i><a href="#">KET for Schools</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">PET for Schools</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">First Certificate for Schools</a></li>
    </ul>
</div>  

<div class="navigationblock">
    <h5>Youg Learners</h5>
    <hr>
    <ul class="fa-ul">
        <li><i class="fa fa-caret-right"></i><a href="#">Starters</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">Movers</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">Flyers</a></li>
    </ul>
</div>  

<div class="navigationblock">
    <h5>Bussiness Certificates</h5>
    <hr>
    <ul class="fa-ul">
        <li><i class="fa fa-caret-right"></i><a href="#">Bussiness Preliminary</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">Bussiness Vantage</a></li>
        <li><i class="fa fa-caret-right"></i><a href="#">Bussiness Higher</a></li>
    </ul>
</div>  
