<div class="tablebox main-menu-mobile">
    
    <div class="logoHead">
        <img src="{{ asset('bundles/public/img/motogo-logo.svg') }}">
    </div>
    
    <div class="buttonNavmobile">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    
    <div id="navmobile" class="overlay">

        <div class="dropdownmenu">
            <ul>
                <li><a href="{#{{path('login')}}#}"><img src="{{ asset('bundles/public/img/login.png') }}"> LOGIN</a></li>
                <hr>
                <li><a href="{#{{path('public_homepage')}}#}">INICIO</a></li>
                <hr>
                <li><a href="#">DÓNDE PREPARARME</a></li>
                <hr>
                <li><a href="{#{{path('public_quienes')}}#}">QUIÉNES SOMOS</a></li>
                <hr>
                <li>
                    <a id="certificates" href="#">CERTIFICADOS</a>
                    <div id="subdropmenuCert">
                        <div class="dropdown-content">
                            {% include 'PublicBundle:partials:menus/certificates.html.twig' %}
                        </div>
                    </div>
                </li>
                <hr>
                <li><a href="#">NOTICIAS</a></li>
                <hr>
                <li><a href="{#{{path('public_contacto')}}#}">CONTACTO</a></li>
                <hr>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
                
    </div>

</div>