<div class="tablebox main-menu">
    <nav>
        <ul>
            
            <li class="logoHead">
                <div>
                    <img src="{{ asset('bundles/public/img/logo-motogo.svg') }}">
                </div>
            </li>

            <li class="dropdown">
                <div>
                    <a href="#" class="dropbtn">¿QUÉ ES?</a>
                </div>
            </li>
            
            <li>
                <div>
                    <a href="#">¿CUÁNTO CUESTA?</a>
                </div>
            </li>
            
            <li>
                <div>
                    <a href="{#{{path('public_contacto')}}#}">¿ALGO MÁS?</a>
                </div>
            </li>
            
            <li>
                <div>
                    <a href="{#{{path('public_contacto')}}#}">TIENDA</a>
                </div>
            </li>
            
        </ul>  
    </nav>  

</div>