<div class="tablebox">
    <div class="topbar">

        <div class="topbar-left">
            <a href="#"><img src="{{ asset('bundles/public/img/facebook.png') }}"></a>
            <a href="#"><img src="{{ asset('bundles/public/img/twitter.png') }}"></a>
        </div>
        <div class="topbar-center">
            <img src="{{ asset('bundles/public/img/authorised-platinum-centre.png') }}">
        </div>
        <div class="topbar-right">
            <img class="img-faq" src="{{ asset('bundles/public/img/faq.png') }}"><a class="img-faq" href="#"><b>FAQ</b></a>
            <img class="img-login" src="{{ asset('bundles/public/img/login.png') }}"><a class="link70op img-login" href="{#{{path('login')}}#}">LOGIN</a>
            <img class="img-tlf" src="{{ asset('bundles/public/img/telefono.png') }}"><span class="link70op img-tlf" href="#">958 225 536</span>
        </div>

    </div>
</div>
