<!DOCTYPE html>
<html lang="es">
    
    <head>

        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> MotoGo | {% block title %}Plataforma de transporte urbano compartido sobre dos ruedas{% endblock %} </title>

        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap -->
{#        <link href="{{ asset('bundles/public/css/bootstrap.min.css') }}" rel="stylesheet">#}

        <!-- Fonts -->
        <link href="{{ asset('bundles/public/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/public/css/fonts-base.css') }}" rel="stylesheet">

        <!-- Custom Theme Style -->
{#        <link href="{{ asset('bundles/public/css/custom.min.css') }}" rel="stylesheet">#}
        <link href="{{ asset('bundles/public/css/base.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/public/css/jcarousel.css') }}" rel="stylesheet">
    </head>

    <body>

        <main>

            <header>
                {% block cabecera %}{% endblock %}
            </header>

            <div class="maincontainer">
                {% block cuerpo %}{% endblock %}
            </div>

            <footer>
                {% block piepagina %}{% endblock %}
            </footer>    

        </main>

    <!-- jQuery -->
    <script src="{{ asset('bundles/public/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/public/js/jquery.jcarousel.min.js') }}"></script>
    <script src="{{ asset('bundles/public/js/funciones.js') }}"></script>

    <!-- Bootstrap -->

    <!-- Custom Scripts -->
    {% block javascripts2 %}{% endblock %}

    </body>
    
</html>