<div class="wrapper">
    <h2 style="color: #b1122f; text-align: center;"> NUESTRO EQUIPO</h2>
    <div class="jcarousel-wrapper">
        <div class="jcarousel-team" data-jcarousel="true">
            <ul>
                <li><img src="{{ asset('bundles/public/img/carrusel/foto-equipo1.png') }}"><a class="more_info_carousel" href="#"><h4>Ruth Giráldez</h4></a><h3>Inglés y Español</h3></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/foto-equipo2.png') }}"><a class="more_info_carousel" href="#"><h4>Zeina Alhmoud</h4></a><h3>Árabe, Inglés y Español</h3></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/foto-equipo1.png') }}"><a class="more_info_carousel" href="#"><h4>Ruth Giráldez</h4></a><h3>Inglés y Español</h3></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/foto-equipo2.png') }}"><a class="more_info_carousel" href="#"><h4>Zeina Alhmoud</h4></a><h3>Árabe, Inglés y Español</h3></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/foto-equipo1.png') }}"><a class="more_info_carousel" href="#"><h4>Ruth Giráldez</h4></a><h3>Inglés y Español</h3></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/foto-equipo2.png') }}"><a class="more_info_carousel" href="#"><h4>Zeina Alhmoud</h4></a><h3>Árabe, Inglés y Español</h3></li>
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
        <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
    </div>
</div>