<div class="wrapper">
    <h3>Últimos Viajes</h3>
    <div class="jcarousel-wrapper">
        <div class="jcarousel" data-jcarousel="true">
            <ul>
                <li><img src="{{ asset('bundles/public/img/carrusel/first.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/legal.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/key.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/keyfor.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/young.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/advanced.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/business.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/financial.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/preliminary.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/preliminaryfor.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
                <li><img src="{{ asset('bundles/public/img/carrusel/proficiency.png') }}"><a class="more_info_carousel" href="#">Más Información</a></li>
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
        <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
    </div>
</div>