<div class="wrapper">

    <div class="jcarousel-wrapper">
        <div class="jcarousel" data-jcarousel="true">
            <ul style="left: -328px; top: 0px;">
                <li style="width: 328px;"><img src="{{ asset('bundles/public/img/carrusel/first.png') }}"></li>
                <li style="width: 328px;"><img src="{{ asset('bundles/public/img/carrusel/legal.png') }}"></li>
                <li style="width: 328px;"><img src="{{ asset('bundles/public/img/carrusel/key.png') }}"></li>
                <li style="width: 328px;"><img src="{{ asset('bundles/public/img/carrusel/keyfor.png') }}"></li>
                <li style="width: 328px;"><img src="{{ asset('bundles/public/img/carrusel/young.png') }}"></li>
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
        <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>

        <p class="jcarousel-pagination" data-jcarouselpagination="true">
            <a href="#1">1</a>
            <a href="#2" class="active">2</a>
            <a href="#3">3</a>
            <a href="#4">4</a>
            <a href="#5">5</a>
            <a href="#6">6</a>
        </p>
    </div>
</div>