<article class="newtravels">
    <div class="newtravelsimg" style="background-image: url('');"></div>
    <div class="newtravelsdesc">
        <h4>Ruta diaria: Camino de Ronda - Gran Vía</h4>
        <h6>De 9:00 a 9:15 todos los días laborables.</h6>
        <input type="button" name="readmore" id="readmore" value="Leer Más">
    </div>
</article>