video {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 200%;
    max-height: 200%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
}

.videocontent {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.videotext {
  margin-bottom: 24px;
  color: rgb(39,39,39);
  font-size: 44px;
}


/************ Estilos generales ************/
* {
    /* Quitar problemas de márgenes con navegadores */
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 009896 */
body {
    font-family: NeoSansPro;
    font-weight: normal;
    color: #53565A;
    font-size: 0.75em;
}

.hr-mobile {
    display: none;
}

/* Cabeceras */
h1, h2, h3, h4, h5{
    font-weight: bold;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3.75em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.15em;
}

h6 {
    font-size: 1em;
}

.roboto {
    font-family: NeoSansPro!important;
}

.aligncenter {
    text-align: center!important;
}

/* Botones */
input[type="button"] {
    font-family: NeoSansPro;
    font-weight: bold;
    background: #E45300;
    color: #FFF;
    padding: 1% 2%;
    border: none;
    border-radius: 8px;
}

/* Caja formato tabla */
.tablebox {
    display:table;
    width: 100%;
    clear: both;
}

/* Enlaces */ 

a, a:visited{
    text-decoration: none;
    color: #009896;
}

a:focus, a:hover {
    text-decoration: none;
    color: #009896;
}

.link70op {
    color: rgba(255, 255, 255, 0.7);
}

/************ Estilos de página ************/

/* Cuerpo principal */
main {
    display:table;
    height: 100vh;
    width: 100%;
    background: #FFFFFF;
}

/* Menú superior */
.topbar {
    display: table-cell;
    background: #009896;
    height: 45px;
    width: 100%;
    vertical-align: middle;
}

.topbar-left, .topbar-center, .topbar-right {
    float: left;
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    box-sizing: border-box;
}

.topbar-left {
    text-align: left;
    padding-left: 1.5%;
}

.topbar-center {
    text-align: center;
}

.topbar-right {
    text-align: right;
    padding-right: 1.5%;
}

/* Enlaces de topbar */ 
.topbar a:focus, .topbar a:hover {
    color: #FFFFFF;
}

.topbar a, .topbar a:visited{
    color: #FFFFFF;
}

.topbar img, .topbar span, topbar a {
    min-height: 70%;
    vertical-align: middle;
}

.topbar-right img {
    padding-left: 3%;
    padding-right: 1%;
}

.topbar-left img {
    padding-right: 1%;
}

/* Barra de cabecera */
header {
    background: #FFFFFF;
    caption-side: top;
    display: table-caption;
    text-align: center;
    height: auto;
    border-bottom: 5px solid #E45300;
}

header>section {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Logo de cabecera */
.logoHead {
    box-sizing: border-box;
    width: 25%;    
    display: table; 
}

.logoHead>div {
    display: table-cell;
    vertical-align: middle;
}

.logoHead>div>img {
    max-width: 100px;
    width: 100%;
}

/* Listas de navegacion en cabecera */

.main-menu-mobile {
    display: none;
}

header nav {
    display: table-cell;
    height: 115px;
    vertical-align: middle;
    box-sizing: border-box;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    float: left;
    width: 25%;
    vertical-align: middle;
    display: table;
    height: 100%;
}

header nav ul li div {
    display: table-cell;
    vertical-align: middle;
}

header nav ul li a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    width: 14%;
    font-size: 1.15em;
    letter-spacing: 2px;
}

/* Contenedor principal */
.maincontainer {
    display: table-row-group;
    width: 100%;
}

.maincontainer h1,.maincontainer h2, .maincontainer h3, .maincontainer h4, .maincontainer h5, .maincontainer h6 {
    color: #009896;
}

/* Divisor */
.maincontainer hr {
    clear: both;
    background: url(/bundles/public/img/separador.png);
    background-repeat: repeat-x;
    background-position: 50% 50%;
    height: 10px;
    border: none;
    margin-bottom: -10px;
    z-index: 1;
    position: relative;
}

.maincontainer>.mainsection {
    display:table;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

/* Slider principal */
#mainslider{
    height: 760px;
    width: 100%;
    background: #CCC;
    overflow: hidden;
    display: table;
    position: relative;
    border-bottom: 5px solid #E45300;
}

#mainslider>div {
    background-position: center center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

#mainsliderlabels {
    position: absolute;
    z-index: 2;
    width: 100%;
}

#calendar, #matriculate {
    height: 55px;
    width: 220px;
    border-radius: 0 0 10px 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 0;
}

#calendar {
    background: rgba(35, 97, 146, 0.8);
    margin-left: 4%;
    float: left;
}

#matriculate {
    background: rgba(150, 21, 49, 0.8);
    margin-right: 4%;
    float: right;
}

#calendar>img, #matriculate>img {
    float: left;
}

.formatedtext{
    float: left;
    color: #FFF;
    padding-left: 15px;
}

.slidercontent {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    height: 100%;
    display: table;
}

.slidercontent>div {
    display: table-cell;
    vertical-align: middle;
}

.slidercontent h1, .slidercontent h2, .slidercontent h3, .slidercontent h4, .slidercontent h5, .slidercontent h6 {
    color: #FFF;
}

.slidercontent h3 {
    font-weight: 200;
    letter-spacing: 2.5px;    
    width: 90%;
    margin: auto;  
}

#model {
    text-align: left;
    float: left;
    z-index: 1;
    margin-top: -115px;
    padding-right: 1%;
    padding-left: 4%;
    position: relative;
    display: inline-block;
    clear: none;
    width: 20%;
}

#model>img {
    width: 100%;
    max-width: 212px;
}

#maincarousel {
    width: 80%;
    float: left;
    display: block;
    clear: right;
}

.more_info_carousel {
    font-weight: bold;
    font-size: 0.9em;
}

/* Sección principal */
.maintext {
    display: table;
    width: 100%;
    vertical-align: top;
    padding: 50px 4% 20px 4%;
    box-sizing: border-box;
}

#maindesc, #maincities {
    width: 100%;
    float: left;
}

#maindesc h3 , #maincities h3 {
    color: #9a9a9a;
    font-weight: 200;
    max-width: 80%;
    font-size: 1.65em;
}

#maindesc p , #maincities p {
    font-family: Lato;
    color: #717171;
    font-weight: 200;
    font-size: 1.2em;
    text-align: left;
    line-height: 1.5em;
    padding: 45px 0;
}

.newtravels {
    width: 47.5%;
    float: left;
    height: 155px;
    margin-left: 5%;
    box-sizing: border-box;
    border: 5px solid #f2f2f2;
    display: table;
    margin-bottom: 30px;
}

.newtravelsimg {
    background: #CCC;
    width: 155px;
    background-position: center center;
    background-size: cover;
    border-right: 5px solid #f2f2f2;
    display: table-cell;
}

.newtravelsdesc {
    margin-left: 4%;
    display: table-cell;
}

.newtravelsdesc h4  {
    padding: 2% 6%;
    font-weight: normal;
}
.newtravelsdesc h6  {
    padding: 2% 6%;
    color: #9a9a9a;
}

#readmore {
    margin: 0 6%;
}

#mainstats {
    display: table;
    width: 100%;
    height: 480px;
    background: url('/bundles/public/img/fondo-blanco.jpg') ;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    text-align: center;
}

#mainstats>div {
    display: table-cell;
    vertical-align: middle;
}

#mainstats h3 {
    color: #9a9a9a;
    font-weight: 200;
}

.containerstats {
    margin: auto;
    width: 100%;
    display: flex;
    padding: 3% 18% 0 18%;
    box-sizing: border-box;
}

.numberstat {
    max-height: 200px;
    max-width: 200px;
    float: left;
    margin: auto;
}

.numberstat img{
    max-height: 80px;
}

.numberstat>h2 {
    color: #b1122f;
}

.numberstat h3 {
    font-weight: normal!important;
    font-size: 1.25em;
}

/* Pie de página */ 
footer {
    background: #FFF;
    display:block;
    height: 330px;
    padding: 4% 15% 3% 15%;
    box-sizing: border-box;
    color: #FFF;
    border-top: 5px solid #E45300;
}

footer h5 {
    line-height: 2em;
}

footer>hr {
    background: url('/bundles/public/img/separador.png');
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 100%;

    height: 10px;
    border: none;
}

footer a {
    color: #FFFFFF!important;
    font-size: 0.9em;
    font-weight: 200;
}

#footernav{
    display: table;
    clear: right;
    margin-bottom: 4%;
    z-index: 2;
    position: relative;
}

.backgroundtrapezium {
    border-top: 555px solid #009896;
    border-right: 100px solid transparent;
    height: 0;
    width: 55%;
    position: absolute;
    margin: -50px -68px;
    z-index: 0;
}

.trapezium {
    border-top: 330px solid #009896;
    border-right: 50px solid transparent;
    height: 0;
    width: 75%;
    position: absolute;
    z-index: 1;
    margin: -4% -15%;
}

.navigationblock {
    display: table-cell;
    width: 0.1%;
    height: 100%;
    padding: 0 1.5%;
}

.navigationblock hr {
    border: 1px dotted #FFF;
    border-style: none none dashed;
    width: 80%;
    margin-bottom: 3%;;
}

.navigationblock ul li {
    line-height: 1.5em;
}
.navigationblock ul li i {
    opacity: 0.7;
    margin-right: 2%;
}

#colophon {
    display: table;
    width: 100%;
    height: 38%;
}

#colophonlogo {
    display: table-cell;
    width: 13%;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}

.colophoninfo {
    display: table-cell;
    width: 74%;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
    padding: 0 1%;
    text-align: center;
}


.socialmedia {
    display: table-cell;
    width: 13%;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
}

.socialmedia a {
    padding: 5px;
}


/************* Menú Principal *****************/

.tablebox nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 80%;
}

.tablebox nav ul li {
    float: left;
}

.tablebox nav ul li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    font-size: calc(1.0em + 0.3vw);
    font-style: italic;
}

.tablebox nav ul li.dropdown {
    display: table;
    vertical-align: middle;
    height: 100%;
}
.arrownavdown {
    display: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(177, 18, 47, 0.95);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    left: 0px;
    border-top: 5px solid #b1122f;
    box-sizing: border-box;
    padding: 2% 15% 2% 15%;
}

.dropdown-content a {
    color: #FFFFFF;
    font-size: 1em;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .arrownavdown  {
    display: inline;
    z-index: 4;
    position: absolute;
    margin-top: -8px;
    text-align: center;
}

.dropdown .navigationblock {
    text-align: left;
    color: #FFF;
    height: auto;
    padding: 0 0.5%
}


.dropdown .navigationblock ul {
    padding-top: 0px!important;
}

.dropdown .navigationblock ul li {
    width: 100%;
    padding-top: 0px;
}

.dropdown .navigationblock ul li i {
    margin-right: 1%;
}

.dropdown .navigationblock ul li a {
    width: 95%;
    padding: 0px;
    text-align: left;
    font-size: calc(0.70em + 0.2vw);
    font-weight: normal;
    letter-spacing: 0.01em;
}

/* Submenú móvil */
#subdropmenuCert {
}

/****** Rediseño de estilos Font-Awesome ******/

.fa-ul {
    margin-left: 0;
}

/********** Páginas interiores ***********/

/* Página a una columna */
.interiorsection {
    padding: 4% 15% 3% 15%;
    box-sizing: border-box;
}

.interiorsection p {
    font-family: Lato;
    color: #717171;
    font-weight: 200;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.5em;
    padding: 1% 0;
}

.errorbox, .warnbox, .passbox {
    width: 100%;
    height: 85px;
    margin: 10px 0;
    clear: both;
}

.errorbox p , .warnbox p , .passbox p {
    font-family: NeoSansPro;
}

.errorbox {
    background: #f5dbdf;
    border: 1px solid #bf0c25;
    border-radius: 5px;
    color:#bf0c25;
}

.errorbox p {
    color:#bf0c25;
}

.warnbox {
    background: #f6ecdd;
    border: 1px solid #c0801e;
    border-radius: 5px;
    color: #c0801e;
}

.warnbox p {
    color: #c0801e;
}

.passbox {
    background: #edf4d9;
    border: 1px solid #7d9b12;
    border-radius: 5px;
    color: #7d9b12;
}

.passbox p {
    color: #7d9b12;
}

.iconbox {
    display: table;
    width: 8%;
    min-width: 70px;
    float: left;
    height: 100%;
}

.iconbox i, .iconbox img {
    font-size: 52px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 40px;
    height: 100%;
    margin: auto;
}

.textalert {
    display: table;
    height: 100%;
    min-width: 530px;
    float: left;
    clear: right;
}

.textalert p {
    display: table-cell;
    vertical-align: middle;
}

.interiorsection input, .interiorsection textarea {
    background: #FFF;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    color: #717171;
    font-size: 1.2em;
    font-family: NeoSansPro; 
    float: left;
}

/* Página para formularios */

.formNewuser {
    width: 100%;
    height: 100%;
    display: table;
    padding-top: 3%;
}

.formNewuser>div{
    float: left;
    width: 23.5%;
    padding: 0 1% 1.5% 1%;
}

.formNewuser>div input{
    width: 100%;
    box-sizing: border-box;
}

.formNewuser>div input[type="radio"] {
    width: 20%;
    height: 18px;
    background: #FFF;
}

.formNewuser>div input[type="checkbox"] {
    width: 10%;
    height: 18px;
    background: #FFF;
    float: right;
}

.formNewuser>div label{
    font-size: 1.2em;
}

.formNewuser>div input[type="submit"]{
    background: #E45300;
    border: none;
    font-weight: bold;
    color: #FFF;
}

.formNewuser>div select{
    background: #FFF;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    color: #717171;
    font-size: 1.2em;
    font-family: NeoSansPro;
    float: left;
    width: 100%;
    
    background: url(/bundles/public/img/flecha-form.png) no-repeat 95% 50%;
    background-size: 5%;
  
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
}

.interiorsection input::-webkit-input-placeholder {
    color: #717171;
}

.interiorsection input::-moz-placeholder {
    color: #717171;
}

.interiorsection input::-ms-input-placeholder {
    color: #717171;
}

.interiorsection input::-moz-input-placeholder {
    color: #717171;
}

.asterisk_input:after {
    content:" *"; 
    color: red;
    position: absolute; 
    margin: 4px 0px 0px -14px; 
    font-size: 1.3em; 
    padding: 0 5px 0 0; 
}

.headinterior {
    background: url('/bundles/public/img/profesionales-gris.png') ;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 100px;
}


/* Pagina cabecera grande ,a una columna */

/* Cabecera */
.innerbigheader {
    height: 400px;
    width: 100%;
    background: #CCC;
    overflow: hidden;
    display: table;
    position: relative;
    border-bottom: 5px solid #E45300;
}

.innerbigheader>div {
    background-position: center center;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.innerheadercontent {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    height: 100%;
    display: table;
}

.innerheadercontent>div {
    display: table-cell;
    vertical-align: middle;
}

.innerheadercontent h1, .innerheadercontent h2, .innerheadercontent h3, .innerheadercontent h4, .innerheadercontent h5, .innerheadercontent h6 {
    color: #FFF;
}

.innerheadercontent h1 {
    font-weight: normal;
}

.innerheadercontent h5 {
    font-weight: 200;
    letter-spacing: 2.5px;
    width: 90%;
    margin: auto;
}

.oneColtext {
    padding: 0 10% 5% 10%;
    color: #9a9a9a;
}

.oneColtext p {
    color: #9a9a9a;
}

.interiorsection h2 {
    color: #009896;
    font-weight: normal;
}


/* Pagina mapas ,a una columna */

/* Mapa */
.innermapheader {
    height: 600px;
    width: 100%;
    background: #CCC;
    overflow: hidden;
    display: table;
    position: relative;
}

.innermapheader>div {
    background-position: center center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.innermapheader>#mainsliderlabels {
    height: 55px;
}

.innerheadercontent {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    height: 100%;
    display: table;
}

.innerheadercontent>div {
    display: table-cell;
    vertical-align: middle;
}

.infomapcontent {
    font-family: NeoSansPro;
    padding:4% 8% 8% 8%;
    box-sizing: border-box;
    width: 100%;
    height: 92%;
    display: table;
}

.infomapcontent>div {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    clear: left;
    margin-top: 6px;
    width: 100%;
    text-align: center;
}

.infomapcontent h4 {
    font-weight: 200;
    letter-spacing:0.1em;
    text-align: center;
}

.infomapcontent h5 {
    text-decoration: underline;
    letter-spacing:0.05em;
    text-align: left;
}

.infomapcontent h5 a {
    color: #E45300!important;
}

.infomapcontent p {
    font-size: 1.2em;
    text-align: left;
}

.threeColtext {
    display: table;
    width: 60%;
    margin: 0 auto;
    padding: 0 10% 2% 10%;
}

.infocontact {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.infocontact h3 , .infocontact h5 {
    float: left;
    text-align: center;
    color: #9a9a9a;
}

.infocontact img {
    float: left;
    padding: 0 2%;
    text-align: center;
}

.formContact {
    width: 80%;
    height: 100%;
    display: table;
    padding-top: 3%;
    padding: 0 10%;
}
.formContact>div {
    float: left;
    width: 23.5%;
    padding: 0 1% 1.5% 1%;
}

.formContact>div input, .formContact>div textarea {
    width: 100%;
    box-sizing: border-box;
}


/************ Estilos móviles ************/

@media screen and (min-width: 920px) {
    body {
        /*font-size: calc(0.55em + 0.2vw);*/
    }
}

@media screen and (max-width: 920px) {
    
    .topbar-left {
        width: 20%;
    }

    .topbar-center , .topbar-right {
        width: 40%;
    }
    
    .dropdown-content{
        padding: 2% 8% 2% 8%;
    }
    
    footer {
        padding: 4% 5% 3% 5%;
    }
    
}

@media screen and (max-width: 768px) {
    
    body {
        font-size: 12px;
    }
    
    .hr-mobile {
        width: 100%;
        display: block;
        margin-bottom: 10px!important;
    }
    
    .topbar-left, .topbar-right {
        padding-left: 6%;
        padding-right: 6%;
    }
    
    .topbar-left {
        width: 30%;
    }
    
    .topbar-right {
        width: 70%;
    }

    .topbar-center  {
        display: none;
    }
    
    .link70op {
        color: rgba(255, 255, 255, 0.7);
        font-weight: bold;
        letter-spacing: 0.1em;
    }
    
     .main-menu {
        display: none;
    }
    
    .main-menu-mobile {
        display: table;
        height: 95px;
    }
    
    .logoHead {
        width: 80%;
        display: table-cell;
        vertical-align: middle;
        padding: 0 6%;
        text-align: left;
    }
    
    .logoHead>div {
    }
    
    .logoHead>div>img {
        max-width: 190px;
    }
    
    /* Menú movil */
    .dropdown-content{
        padding : 2% 8% 2% 8%;
    }
    
    .buttonNavmobile {
        display: table-cell;
        vertical-align: middle;
        font-size: 4em;
        text-align: right;
        width: 20%;
        padding:0 6% 0 0;
        color: #009896;
    }
    
    #navmobile {
        position: absolute;
        z-index: 10;
        top: 140px;
        display:none;
    }
    
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 1000;
        left: 0;
        background-color: #b1122f;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .dropdownmenu {
        position: relative;
        width: 100%;
        text-align: center;
        display: table;
        height: 78%;
    }
    
    .dropdownmenu ul {
        vertical-align: middle;
        display: table-cell;
    }
    
    .dropdownmenu ul li {
        display: table;
        width: 100%;
    }

    .overlay a {
        text-decoration: none;
        font-size: 1.3em;
        display: table-cell;
        transition: 0.3s;
        height: 46px;
        font-weight: bold;
        color: #FFF;
        letter-spacing: 0.2em;
        text-align: center;
        width: 100%;
        vertical-align: middle;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    .dropdownmenu hr {
        background: url('/bundles/public/img/separador.png');
        background-repeat: repeat-x;
        background-position: 50% 50%;
        background-size: 400%;

        height: 10px;
        border: none;
    }
    
    /* Submenú móvil */
    #subdropmenuCert {
        height: 0px;
        clear: both;
        display: none;
    }
    
    #certificates {
        
    }
    
    /* Slider */
    .slidercontent h1 {
        font-size: 4em;
    }
    
    .slidercontent h3 {
        font-weight: 200;
        letter-spacing: 2.5px;
        font-size: 1.4em;
    }
    
     #maindesc {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    #maindesc h3 {
        color: #9a9a9a;
        font-weight: 200;
        max-width: 100%;
        font-size: 1.3em;
    }
    
    #maindesc p {
        padding: 20px 0;
    }
    
    .newtravels {
        width: 45%;
        float: left;
        height: 115px;
        margin: 0 2.5%;
    }
    
    .newtravelsimg {
        border-right: 0;
        border-bottom: 5px solid #f2f2f2;
        display: block;
        height: 155px;
        width: auto!important;
    }
    
    .newtravelsdesc {
        margin-left: auto;
        display: block;
    }
    
    .newtravelsdesc h4 {
        font-size: 1.2em;
    }
    
    .newtravelsdesc h6 {
        font-size: 0.9em;
    }
    
    #readmore {
        margin: 2% 6%;
    }
    
    footer {
        padding: 4% 5% 3% 5%;
    }
    
}

@media screen and (max-width: 600px) {
     
    #mainsliderlabels {
        position: absolute;
        z-index: 2;
        width: 100%;
        display: block;
    }
    
    #calendar, #matriculate {
        display: block;
        margin: 1.5% 17.5%;
        padding: 10px;
        box-sizing: border-box;
        width: 65%;
        border-radius: 10px 10px 10px 10px;
    }
    
    .slidercontent h1 {
        font-size: 3em;
    }
    
    .slidercontent h3 {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    
    body {
        font-size: 12px;
    }
    
    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 2.2em;
    }
    
    h3 {
        font-size: 1.2em;
    }
    
    h6 {
        font-size: 0.75em;
    }
    
    input[type="button"] {
        padding: 4% 4%;
    }
    
    .img-faq, .img-login {
        display: none;
    }
    
    #maindesc {
        max-width: 100%;
        height: auto;
        display: block;
    }
    
    #maindesc h3 {
        color: #9a9a9a;
        font-weight: 200;
        max-width: 100%;
        font-size: 1.3em;
    }
    
    #maindesc p {
        font-size: 1em;
        padding: 20px 0;
    }
    
    .newtravels {
        width: 100%;
        float: left;
        height: 115px;
        margin: auto auto 20px auto;;
    }
    
    .newtravelsimg {
        border-right: 0;
        border-bottom: 5px solid #f2f2f2;
        display: block;
        height: 155px;
        width: auto!important;
    }
    
    .newtravelsdesc {
        margin-left: auto;
        display: block;
    }
    
    .newtravelsdesc h4 {
        font-size: 1.2em;
    }
    
    .newtravelsdesc h6 {
        font-size: 0.9em;
    }
    
    #readmore {
        margin: 2% 6%;
    }
    
    .containerstats {
        margin: auto;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        height: 100%;
    }
      
    .numberstat {
        max-height: 200px;
        width: 100%;
        float: left;
        margin: auto;
        clear: left;
        display: block;
        max-width: 100%;
        padding: 5% 0;
    }
    
    .numberstat h3 {
        font-size: 1.0em;
    }
      
    .navigationblock {
        display: table;
        width: 100%;
        height: auto;
        padding: 0;
    }

    footer {
        height: auto;
    }
    
    #footernav {
        display: block;
        clear: right;
        margin-bottom: 0;
    }
    
    .navigationblock hr {
        width: 100%;
    }
    
    #colophonlogo {
        display: block;
        width: 100%;
        padding: 2% 0;
    }
    
    .colophoninfo {
        display: block;
        width: 100%;
        padding: 2% 0;
    }
    
    .socialmedia {
        display: block;
        width: 100%;
        text-align: center;
        padding: 2% 0;
    }
    
}


@media screen and (max-width: 480px) {
    
    h1 {
        font-size: 2.8em;
    }
    
    /* Submenú móvil */
    #subdropmenuCert {
        display: none;
    }
}