/************ Fuentes importadas ************/

/*@font-face {
    font-family: "RobotoSlab";
    src: url(/bundles/public/fonts/RobotoSlab-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlab";
    src: url(/bundles/public/fonts/RobotoSlab-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "RobotoSlab";
    src: url(/bundles/public/fonts/RobotoSlab-Light.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Lato";
    src: url(/bundles/public/fonts/Lato-Light.ttf) format("truetype");
    font-weight: 200;
}*/

/***********************/

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProRegular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProUltra.ttf) format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProBold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProMedium.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProLight.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProBoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "NeoSansPro";
    src: url(/bundles/public/fonts/NeoSansProLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}