/********* Estilos de jCarousel **********/

.wrapper {
    max-width: 99vw;
    margin: auto;
    box-sizing: border-box;
}

/** Contenedor  **/

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    border-radius: 5px;
}

/** Carousel Certificados**/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 328px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

.jcarousel a {
    color: #9a9a9a;
    width: 100%;
    display: table;
    text-align: center;
}

/** Carousel Equipos**/

.jcarousel-team {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel-team ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-team li {
    width: 328px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel-team img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin: auto;
    border: 5px solid #f3f3f3;
    border-radius: 100px;
}

.jcarousel-team a {
    color: #9a9a9a;
    width: 100%;
    display: table;
    text-align: center;
}

.jcarousel-team h3 {
    color: #9a9a9a;
    text-align: center;
    font-weight: 200;
}

.jcarousel-team h4 {
    font-size: 1.8em;
    letter-spacing: 0.04em;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #FFFFFF;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    border-radius: 25px;
    box-shadow: 0 0 4px #F0EFE7;
    border: 1px solid #cccccc;
    line-height: 1em;
}

.jcarousel-control-prev {
    left: 0px;
}

.jcarousel-control-next {
    right: 0px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}