{% extends 'PublicBundle:Public:bodyPublic.html.twig'%}

{% block cuerpo %}

    <div class="interiorsection">
        <div class="headinterior">
            <h2>Solicitud de alta para nuevos usuarios</h2>
            <p>Introduzca los datos solicitados en el <b>formulario de alta de nuevo usuario</b> y pulse Aceptar.<br>
                Recibirá un e-mail con instrucciones para confirmar y activar su cuenta de usuario.</p>
        </div>
        <p>(<span style="color:red;">*</span>) Campos requeridos</p>
        
        <div class="errorbox">
            
            <div class="iconbox">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
            
            <div class="textalert">
                <p>
                    <b>Error 1:</b> Debe indicar fecha de nacimiento<br>
                    <b>Error 2:</b> La clave y la confirmacion de clave no concuerdan
                </p>
            </div>
            
        </div>
        
       <div class="warnbox">
           
            <div class="iconbox">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
           
            <div class="textalert">
                <p>
                    <b>Advertencia 1:</b> Debe indicar fecha de nacimiento<br>
                    <b>Advertencia 2:</b> La clave y la confirmacion de clave no concuerdan
                </p>
            </div>
           
        </div>
        
        <div class="passbox">
            
            <div class="iconbox">
                <img src="{{ asset('bundles/public/img/aprove.svg ') }}">
            </div>
            
            <div class="textalert">
                <p>
                    Debe indicar fecha de nacimiento<br>
                    La clave y la confirmacion de clave no concuerdan
                </p>
            </div>
            
        </div>
            
        <form class="formNewuser">
            <div style="width: 23.5%; padding-left: 0;"><input type="text" name="nif" id="nif" placeholder="Nif" size="3" required><span class="asterisk_input"></span></div>
            <div style="width: 23.5%;"><input type="text" name="nombre" id="nombre" placeholder="Nombre" size="3" required><span class="asterisk_input"></span></div>
            <div style="width: 23.5%;"><input type="text" name="apellido1" id="apellido1" placeholder="Apellido 1" size="3" required><span class="asterisk_input"></span></div>
            <div style="width: 23.5%; padding-right: 0;"><input type="text" name="apellido2" id="apellido2" placeholder="Apellido 2" size="3" required><span class="asterisk_input"></span></div>
            
            <div style="width: 37%; padding-left: 0; clear: left;"><input type="text" name="direccion" id="direccion" placeholder="Dirección"><span class="asterisk_input"></span></div>
            <div style="width: 23.5%;">
                 <select name="provincia">
                    <option value='0' selected>Provincia</option>
                    <option value='2'>Álava</option>
                    <option value='3'>Albacete</option>
                    <option value='4'>Alicante/Alacant</option>
                    <option value='5'>Almería</option>
                    <option value='6'>Asturias</option>
                    <option value='7'>Ávila</option>
                    <option value='8'>Badajoz</option>
                    <option value='9'>Barcelona</option>
                    <option value='10'>Burgos</option>
                    <option value='11'>Cáceres</option>
                    <option value='12'>Cádiz</option>
                    <option value='13'>Cantabria</option>
                    <option value='14'>Castellón/Castelló</option>
                    <option value='15'>Ceuta</option>
                    <option value='16'>Ciudad Real</option>
                    <option value='17'>Córdoba</option>
                    <option value='18'>Cuenca</option>
                    <option value='19'>Girona</option>
                    <option value='20'>Las Palmas</option>
                    <option value='21'>Granada</option>
                    <option value='22'>Guadalajara</option>
                    <option value='23'>Guipúzcoa</option>
                    <option value='24'>Huelva</option>
                    <option value='25'>Huesca</option>
                    <option value='26'>Illes Balears</option>
                    <option value='27'>Jaén</option>
                    <option value='28'>A Coruña</option>
                    <option value='29'>La Rioja</option>
                    <option value='30'>León</option>
                    <option value='31'>Lleida</option>
                    <option value='32'>Lugo</option>
                    <option value='33'>Madrid</option>
                    <option value='34'>Málaga</option>
                    <option value='35'>Melilla</option>
                    <option value='36'>Murcia</option>
                    <option value='37'>Navarra</option>
                    <option value='38'>Ourense</option>
                    <option value='39'>Palencia</option>
                    <option value='40'>Pontevedra</option>
                    <option value='41'>Salamanca</option>
                    <option value='42'>Segovia</option>
                    <option value='43'>Sevilla</option>
                    <option value='44'>Soria</option>
                    <option value='45'>Tarragona</option>
                    <option value='46'>Santa Cruz de Tenerife</option>
                    <option value='47'>Teruel</option>
                    <option value='48'>Toledo</option>
                    <option value='49'>Valencia/Valéncia</option>
                    <option value='50'>Valladolid</option>
                    <option value='51'>Vizcaya</option>
                    <option value='52'>Zamora</option>
                    <option value='53'>Zaragoza</option>
                </select>
            </div>
            <div style="width: 23.5%;">
                <select name="poblacion">
                    <option value='0' selected>Población</option>
                    <option value='2'>Álava</option>
                    <option value='3'>Albacete</option>
                    <option value='4'>Alicante/Alacant</option>
                    <option value='5'>Almería</option>
                    <option value='6'>Asturias</option>
                    <option value='7'>Ávila</option>
                    <option value='8'>Badajoz</option>
                    <option value='9'>Barcelona</option>
                    <option value='10'>Burgos</option>
                    <option value='11'>Cáceres</option>
                    <option value='12'>Cádiz</option>
                    <option value='13'>Cantabria</option>
                    <option value='14'>Castellón/Castelló</option>
                    <option value='15'>Ceuta</option>
                    <option value='16'>Ciudad Real</option>
                    <option value='17'>Córdoba</option>
                    <option value='18'>Cuenca</option>
                    <option value='19'>Girona</option>
                    <option value='20'>Las Palmas</option>
                    <option value='21'>Granada</option>
                    <option value='22'>Guadalajara</option>
                    <option value='23'>Guipúzcoa</option>
                    <option value='24'>Huelva</option>
                    <option value='25'>Huesca</option>
                    <option value='26'>Illes Balears</option>
                    <option value='27'>Jaén</option>
                    <option value='28'>A Coruña</option>
                    <option value='29'>La Rioja</option>
                    <option value='30'>León</option>
                    <option value='31'>Lleida</option>
                    <option value='32'>Lugo</option>
                    <option value='33'>Madrid</option>
                    <option value='34'>Málaga</option>
                    <option value='35'>Melilla</option>
                    <option value='36'>Murcia</option>
                    <option value='37'>Navarra</option>
                    <option value='38'>Ourense</option>
                    <option value='39'>Palencia</option>
                    <option value='40'>Pontevedra</option>
                    <option value='41'>Salamanca</option>
                    <option value='42'>Segovia</option>
                    <option value='43'>Sevilla</option>
                    <option value='44'>Soria</option>
                    <option value='45'>Tarragona</option>
                    <option value='46'>Santa Cruz de Tenerife</option>
                    <option value='47'>Teruel</option>
                    <option value='48'>Toledo</option>
                    <option value='49'>Valencia/Valéncia</option>
                    <option value='50'>Valladolid</option>
                    <option value='51'>Vizcaya</option>
                    <option value='52'>Zamora</option>
                    <option value='53'>Zaragoza</option>
                </select>
            </div>
            <div style="width: 10%; padding-right: 0;"><input type="text" name="codpostal" id="codpostal" placeholder="C. Postal"></div>
            
            <div style="width: 15%; padding-left: 0; clear: left;"><input type="number" name="nacimiento" id="nacimiento" placeholder="Día de Nacimiento" required><span class="asterisk_input"></span></div>
            <div style="width: 15%;"><input type="number" name="mes" id="mes" placeholder="Mes" required><span class="asterisk_input"></span></div>
            <div style="width: 15%;"><input type="number" name="anyo" id="anyo" placeholder="Año" required><span class="asterisk_input"></span></div>
            <div style="width: 23.5%;"><input type="text" name="telefono" id="telefono" placeholder="Teléfono"></div>
            <div style="width: 23.5%; padding-right: 0;"><input type="text" name="movil" id="movil" placeholder="Móvil" required><span class="asterisk_input"></span></div>
            
            <div style="width: 49%; padding-left: 0; clear: left;"><input type="text" name="email" id="email" placeholder="Email" required><span class="asterisk_input"></span></div>
            <div style="width: 23.5%;"><input type="text" name="clave" id="clave" placeholder="Clave" required><span class="asterisk_input"></span></div>
            <div style="width: 23.5%; padding-right: 0;"><input type="text" name="clave2" id="clave2" placeholder="Confirmar Clave" required><span class="asterisk_input"></span></div>
            
            <div style="width: 10%; padding:10px 0;"><input type="radio" name="genero" id="hombre" value="hombre"><label>Hombre</label></div>
            <div style="width: 10%; padding:10px 0;"><input type="radio" name="genero" id="mujer" value="mujer"><label>Mujer</label></div>
            <div style="width: 28%;">
                <select name="condicion">
                    <option value='0' selected>Condición Especial</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                </select>
                <span class="asterisk_input"></span>
            </div>
            <div style="width: 8%; float: right; min-width: 70px;"><input type="submit" name="enviar" id="enviar" value="Enviar"></div>
            <div style="width: 38%; float: right; padding: 10px 0; text-align: right;"><label style="font-size: 1em; float: right;">He leido y acepto la política de privacidad.</label><input type="checkbox" name="aceptar" id="aceptar" value="aceptar"></div>
            
        </form>
        
    </div>

{% endblock %}