{% extends 'PublicBundle:Public:bodyPublic.html.twig'%}

{% block cuerpo %}

    <section class="innermapheader">
            
            {% include 'PublicBundle:Public:sections/mainsliderlabels.html.twig' %}
            
            <div id="innermap" style="width: 100%; height: 600px;"></div>
            
            <div id="mapbox" style="display:none;">
                 <div class="infomapcontent">
                     <div>
                         <h4><b>EXAMS</b> ANDALUCÍA</h4>
                         <p>C/ Puerta Real, nº 1 – 2º Dcha.<br> Granada 18009</p><br>
                         <h5><a href="https://goo.gl/maps/2pz5KECHB3C2">VER GOOGLE MAPS</a></h5>
                     </div>
                     <div class="arrownavdown">
                        <img src="{{ asset('bundles/public/img/flechamenu.png') }}">
                     </div>
                 </div>
            </div>
            
    </section>
                    
    <section class="interiorsection">
        
        <div class="oneColtext">
            <h1 style="text-align: center;"> Contacta con nosotros</h1>            
            <p class="roboto aligncenter">Utiliza cualquiera de los medios que ponemos a tu alcance para resolverte las dudas<br> 
                que tengas sobre las características de nuestro software o nuestros servicios.</p>
            
        </div>
        
        <div class="threeColtext">
            
            <div class="infocontact"><img src="{{ asset('bundles/public/img/telefono2.png') }}"><h3>Tel: <span style="font-weight: normal;">958 225 536</span></h3></div>
            
            <div class="infocontact"><img src="{{ asset('bundles/public/img/fax.png') }}"><h3>Fax: <span style="font-weight: normal;">958 221 455</span></h3></div>
            
            <div class="infocontact"><h5 style="line-height: 2.5em;">Siguenos en:</h5><img src="{{ asset('bundles/public/img/facebook2.png') }}"><img src="{{ asset('bundles/public/img/twitter2.png') }}"></div>
            
        </div>
        
        <div class="oneColtext">
            
            <p class="roboto aligncenter"><span style="font-weight: normal;">C/ Puerta Real, nº 1 – 2º Dcha. Granada 18009</span></p>
            
            <h3 span style="font-weight: normal; text-align: center; color: #9a9a9a;">Mañanas: 9:30 – 13:00 | Tardes: 16:30 – 20:00</h3>
            
        </div>
            
        <form class="formContact">
            <div style="width: 49%; padding-left: 0;"><input type="text" name="nombre" id="nombre" placeholder="Nombre" size="3" required></div>
            <div style="width: 49%; padding-right: 0;"><input type="text" name="email" id="email" placeholder="E-mail" size="3" required></div>
            <div style="width: 100%; padding-left: 0;"><input type="text" name="asunto" id="asunto" placeholder="Asunto del mensaje..." size="3" required></div>
            <div style="width: 100%; padding-left: 0;"><textarea name="mensaje" id="mensaje" placeholder="Escríbenos tu mensaje..." rows="4"></textarea></div>
            <div style="width: 8%; float: right; min-width: 70px;"><input type="submit" name="enviar" id="enviar" value="Enviar"></div>
            <div style="width: 38%; float: right; padding: 10px 0; text-align: right;"><label style="font-size: 1em; float: right;">He leido y acepto la política de privacidad.</label><input type="checkbox" name="aceptar" id="aceptar" value="aceptar"></div>
        </form>      
            
        
    </section>

{% endblock %}

{% block javascripts2 %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
    <script type="text/javascript" src="{{ asset('bundles/public/js/infobox.js') }}"></script> 
    
    <script type="text/javascript">
        // Carga del mapa al final de la página
        google.maps.event.addDomListener(window, 'load', initialize);
        var markersArray = [];
        var infoArray = [];

        function initialize() {
            var mapOptions = {
                zoom: 17,
                scrollwheel: false,
                center: new google.maps.LatLng(37.173748, -3.599503),
                styles: 
                        [
                            {
                                "featureType": "all",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "hue": "#ee3424"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.attraction",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.business",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.government",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    }
                                ]
                            }
                        ]
                };
                
            var map= new google.maps.Map(document.getElementById("innermap"), mapOptions);

            var infowindow =  new google.maps.InfoWindow({
                content: ""
            });
            
            var latLng = new google.maps.LatLng(37.173748, -3.599503);

            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: 'EXAMS ANDALUCÍA',
                icon: '{{ asset('bundles/public/img/marker.png') }}'
            });

            //bindInfoWindow(marker, map, infowindow, div);
            var infobox = new InfoBox({
                content: $('#mapbox').html(),
                disableAutoPan: false,
                maxWidth: 120,
                pixelOffset: new google.maps.Size(-120, -215),
                zIndex: null,
                boxStyle: {
                   background: "#FFF",
                   'border-radius': "10px 10px",
                   'box-shadow': "0 0 20px 0px rgba(0, 0, 0, 0.3)",
                   opacity: 1,
                   width: "240px",
                   height: "130px"
               },
               closeBoxMargin: "-5px",
               closeBoxURL: "{{ asset('bundles/public/img/cerrar.png') }}",
               infoBoxClearance: new google.maps.Size(1, 1)
           });

           google.maps.event.addListener(marker, 'click', function() {
               infobox.open(map, this);
               map.panTo(marker.position);

           });
        }

        function bindInfoWindow(marker, map, infowindow, description) {
            marker.addListener('click', function() {
                infowindow.setContent(description);
                infowindow.open(map, this);
            });
        }
    </script>
{% endblock %}