{% extends 'PublicBundle::bodyPublic.html.twig'%}

{% block stylesheets %}
    
{% endblock %}

{% block cuerpo %}

        <div class="mainsection">
            
            <section id="mainslider">
                <div>
                    
                    <div class="videocontent">
                        <h1 class="videotext">Texto</h1>
                    </div>

                    <video id="my-video" class="video" muted loop>
{#                        <source src="{{ asset('bundles/public/video/motogopromo.mp4') }}" type="video/mp4">
                        <source src="{{ asset('bundles/public/video/motogopromo.ogv') }}" type="video/ogg">
                        <source src="{{ asset('bundles/public/video/motogopromo.webm') }}" type="video/webm">
                    #}</video>
                    
                </div>
            </section>
            
            <section id="maindesc">
                    <div class='backgroundtrapezium'></div>
                    <div style="float: left; width: 55%;">
                        <h2>¿Qué es MotoGo?</h2>
                        <h3>Plataforma de transporte urbano compartido sobre dos ruedas</h3>
                        <p> 
                            Descripción                        
                            <br>
                            <br>
                        </p>
                        <input type="button" name="moreinfo" id="motogoer" value="Soy Moto-Goer &#10 (Viajero)">
                        <input type="button" name="moreinfo" id="motodriver" value="Soy Moto-Driver &#10 (Conductor)">
                    </div>
                    
                    <div style="width: 45%; float: right;">
                        <img src="{{ asset('bundles/public/img/motogoer.png') }}" style="width: 100%; opacity:0.65">
                    </div>
                    
            </section>
                    
            <hr>

            <section class="maintext">
                                           
                <article id="maincities">
                    <h2>¿Cuánto cuesta en mi ciudad?</h2>
                    <p> MAPITA </p>
                </article>
                
                <section id="maincarousel">

                    {% include 'PublicBundle:partials:sliders/carusel.html.twig' %}

                </section>
                
                <hr>    
                
                <article id="maindesc">
                    
                    <div style="float: left; width: 100%;">
                        <h2>Preguntas frecuentes</h2>
                        <h3>Aqui va un desplegalbe</h3>
                        </div>
                    
                </article>
                   
            </section>
             	
        </div>

{% endblock %}