{% extends 'PublicBundle:Public:bodyPublic.html.twig'%}

{% block cuerpo %}
    
    <section class="innerbigheader">
        <div style="background-image: url('{{ asset('bundles/public/img/cabecera-quienessomos.jpg') }}');">
            
            {% include 'PublicBundle:Public:sections/mainsliderlabels.html.twig' %}

            <article class="innerheadercontent"> 

                <div>
                    <h1>QUIENES SOMOS</h1> 
                    <h5>EXAMS Andalucía lleva desarrollando su labor docente en Granada desde 1954</h5>
                </div>

            </article>
        </div>
    </section>
                    
    <section id="distinctive">
                <div style="background-image: url('{{ asset('bundles/public/img/cambridge-logo.svg') }}');">
                    <img src="{{ asset('bundles/public/img/cambridge-logo.png') }}">
                </div>
    </section>
                    
    <div class="interiorsection">
        
        <div class="oneColtext">
            <p>En los años 80, EXAMS Andalucía fue nombrado un Centro Examinador Oficial de Cambridge English. Desde entonces, y gracias a su
            enorme éxito en facilitar los exámenes de certificación Cambridge a miles de candidatos, fue designado como uno de los centros
            destacados, Platinum Examination Centres, por esta insigne institución académica británica. Es el único Platinum Centre en Andalucía
            Oriental y uno de solo 13 en toda España.</p><br>
            <p>El Director de EXAMS Andalucía, Jonathan Baum, es Centre Examinations Manager (Director de Examenes) de Cambridge English
            Language Assessment para Granada, Málaga, Marbella, Estepona y Almería. Los títulos de inglés de Cambridge English son los
            certificados de mayor reconocimiento en el mundo laboral y en el sector académico.</p><br>
            <p>La Universidad de Cambridge es miembro de ALTE, la asociación formada por el Consejo de Europa que, junto con el Alliance
            Francaise (Frances), el Instituto Cervantes (Español), el Instituto Goethe (Aleman) y el Instituto Dante (Italiano), desarrolló el Marco
            Común Europeo de Referencia para las Lenguas (Hyperlink – MCER).</p><br>
        </div>
        
        {% include 'PublicBundle:Public:sliders/carusel-team.html.twig' %}
        
    </div>
                
    <hr>
                
    {% include 'PublicBundle:Public:sections/mainstats.html.twig' %}

{% endblock %}