{% extends '::base.html.twig'%}

{% block stylesheets %}
    
{% endblock %}

{% block cabecera %}
    <section>
{#        {% include 'PublicBundle:partials:menus/top-menu.html.twig' %}#}
        {% include 'PublicBundle:partials:menus/main-menu.html.twig' %}
        {% include 'PublicBundle:partials:menus/main-menu-mobile.html.twig' %}          
    </section>
{% endblock %}

{% block cuerpo %}

{% endblock %}

{% block piepagina %}
    <div class='trapezium'></div>
    <section id="footernav">  
        {% include 'PublicBundle:partials:menus/certificates.html.twig' %} 
    </section>
    
{#    <hr>#}
    
{#    <section id="colophon">
        
        <div id="colophonlogo">
            <img src="{{ asset('bundles/public/img/logo-examns-andalucia-pie.png ') }}">
        </div>
        
        <div class="colophoninfo">
            <h6>Tel: 958 225 536 · Fax: 958 221 455 - C/Puerta Real, nº 1 - 2º Dcha. Granada 18009 - Mañanas: 9:30 - 13:00 / Tardes: 16:30 - 20:00</h6>
            <div>
                <a href="#"> Aviso Legal</a> |
                <a href="#"> Política de Privacidad</a> |
                <a href="#"> Política de Cookies</a>
            </div>
        </div>
        
        <div class="socialmedia">
            <a href="#"><img src="{{ asset('bundles/public/img/facebook.png') }}"></a>
            <a href="#"><img src="{{ asset('bundles/public/img/twitter.png') }}"></a>
        </div>
            
    </section>#}
    
{% endblock %}

{% block javascripts2 %}{% endblock %}